.homepage{
}

.search-container {
    margin-left: 20%;
    padding-top: 100px;
    width 80%;
}

.google-logo-container {
    padding-left: 300px;
}

.google-logo {
}

.search-input-container{
    padding-left: 200px;
}

.search-input {
    height: 40px;
    width: 472px;
    border-radius: 30px;
    border-width: thin;
}