.search-container {
    margin: auto;
    padding-top: 100px;
    height: auto;
    width: auto;
}

.google-logo-container {
    padding-left: 300px;
    margin: auto;
    height: auto;
    width: 50%;
}

.google-logo {
    width: auto;
    height: auto;
}

.search-input-container {
    height: 40px;
    width: 500px;
    border-radius: 10%;
}