.homepage{

}

.search-container {
    padding-top: 100px;
    text-align: center;
    min-width: 980px;
    margin: 0 auto;
}

.google-logo-container {

}

.google-logo {

}

.search-input-container{
}

.search-input {
    height: 40px;
    width: 450px;
    border-radius: 30px;
    border-width: thin;
    font-size: 17px;
    padding-left: 20px;
}

.homepage-button {
    
}